/*  from q-forms */


.qf_sorted_first {
    display: inline;
    font-family: monospace;
    font-size: .75em;
    font-style: normal;
    text-decoration: underline;
    padding: 0;
    margin: 0;
    float: left;
    color: black;
}

.qf_sorted_last {
    display: inline;
    font-family: monospace;
    font-size: .5em;
    font-style: normal;
    text-decoration: underline;
    padding: 0;
    margin: 0;
    float: left;
    color: blue;
}
.qf_sorted_delimiter {
    display: inline;
    font-family: monospace;
    font-size: .75em;
    font-style: normal;
    float: left;
}
.qf_unsorted {
    font-family: monospace;
    text-decoration: underline;
    font-size: .75em;
    font-style: normal ;
    padding: 0;
    margin: 0;
    float: left;
    color: blue;    
}

/* from class grid-whole  dfcb.github.com/extra-strength-responsive-grids */
.qf_table {
    width:100%;
    margin:0;
    clear:none;
    float:left;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
.qf_td_number {
    text-align: left;
}
.qf_td_nonnumber {
    text-align: right;
}

/* fronm class content-box dfcb.github.com/extra-strength-responsive-grids */
.qf_td {
    height: 3.6em;
    background: rgba(255,255,255,.4);
    border-left: dashed 1px #c4d8f6;
    border-right: dashed 1px #c4d8f6;
}

/* intentionally blank */
.qf_td_sorted {
}

.qf_td_unsorted {
    opacity: 0.9;
}
.qf_th_sorted {
    text-align: center;
    background-color: #eef;
}
.qf_th_unsorted {
    text-align: center;
    line-height: 90%;
}

/*  class even grid-whole */
/*  grid-whole: from  dfcb.github.com/extra-strength-responsive-grids */
.qf_tr_even {
    background-color: #ffffff; 
    color: inherit;
    width:100%;
    margin:0;
    clear:none;
    float:left;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}

/* grid-whole:  from  dfcb.github.com/extra-strength-responsive-grids */
/* class odd grid-whole  */
.qf_tr_odd {
    background-color: #f0eff0; 
    color: inherit;
    width:100%;
    margin:0;
    clear:none;
    float:left;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}

/* class grid-whole */
/* grid-whole: from  dfcb.github.com/extra-strength-responsive-grids */

.qf_tr_header {
    display: flex;
    margin:0;
    width:100%;
    clear:none;
    float:left;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}


/* from packages/acs-templating/www/resources/lists.css */

/* list-paginator class needs re-worked to use grid for consistency. */
/* Used in acs-templating/resources/lists/*.adp and search package */
/* See .content-box-transparent in grid demo section for temporary version */

table.list-tiny { 
  font-size: x-small; 
  border-collapse: collapse; 
} 
.list-table tr.list-header { 
	background-color: #ffffff; 
	color: inherit; 
} 
th.list-table,th.list-table-narrow,.list-table th,tr.last td{ 
	border-bottom: 3px solid #A0BDEB; 
} 
.list-table tr.even, .list-tiny tr.even { 
	background-color: #ffffff; 
	color: inherit; 
} 
.list-table tr.odd, .list-tiny tr.odd { 
	background-color: #f0eff0; 
	color: inherit; 
} 
td.list-table, td.list-table-narrow, .list-table td { 
	border-bottom: 1px solid #A0BDEB; 
} 
.list-filter-header { 
        border-top: 1px solid #999; 
} 

/* list-filters should be re-worked to use grid css and avoid nested tables as is now for openacs-core in 2015.. */ 
/* REWORK following */
td.list-filter-pane { 
        background-color: #eee; 
        vertical-align: top; 
        border: 1px solid #ccc; 
        font-size: .9em; 
        color: inherit; 
} 
.list-filter {  
        font-size: x-small;      
  padding-left:10px; 
} 
tr.list-filter-selected { 
        background-color: #bbb; 
        color: inherit; 
} 
.list-filter-section {  
  font-size: x-small;  
  font-weight: bold;  
  background-color: #bbbbff;  
  padding-left: 4px;  
  padding-top: 4px;  
  padding-bottom: 4px;  
  margin-top: 0px;  
  margin-bottom: 8px; 
} 
span.list-inline-filter {  
} 
span.list-inline-filter-selected {  
  font-weight: bold; 
} 
a.list-inline-filter {  
} 
td.list-list-pane { 
  background-color: white; 
  vertical-align: top; 
  padding-left: 10px; 
} 
/* from packages/acs-templating/www/resources/forms.css */


/* from packages/openacs-default-theme/www/resources/styles/default-master.css */

#skiptocontent {
    display: none;
}

/* Navigation */
.main-navigation ul li,.sub-navigation ul li {
        float:left;
        margin:0;
        padding:0 0 0 9px;
        list-style: none;
/* supposed to be for sub-nav only, but try it: */
    border-right: 1px solid #a0a3a1;
}
.main-navigation ul,.sub-navigation ul {
        margin:0;
        padding:10px 10px 0;
	list-style: none;
}
.main-navigation,.sub-navigation {
        float:left;
        width:100%;
        background: url("/resources/openacs-default-theme/images/bg.gif") repeat-x bottom;
        clear: both;
        display: block;
}
.main-navigation a,.sub-navigation a {
        float:left;
        display:block;
        background:url("/resources/openacs-default-theme/images/right.gif") no-repeat right top;
        padding:5px 7px 4px 6px;
        text-decoration:none;
        font-size: .95em;
        color:#666666;
}
.main-navigation .main-navigation-active {
        background-image:url("/resources/openacs-default-theme/images/left_on.gif");
}
.main-navigation .main-navigation-active a,.sub-navigation .sub-navigation-active a {
        background-image:url("/resources/openacs-default-theme/images/right_on.gif");
        color:#000;
        padding-bottom:5px;
}
.main-navigation a:hover,.sub-navigation a:hover {
    color: #000;
    text-decoration: underline;
}
 
.main-navigation {
 /* empty but delcared for consistent css rendering */
}


.compact li,.action-list ul li {
    list-style:none;
    display: inline;
    padding: 0;
}
.compact,.action-list ul {
    margin: 0;
    padding: 0;
    list-style-type :none;
    display: inline;
}
/* portlets css should be re-worked to use grid css and avoid nested tables as is now for openacs-core in 2015.. */ 
/* PORTLETS - REWORK following */
.portlet-header {
    padding: 2px 8px 2px 8px; 
    border-top: 1px solid #fff;
    background: #ddd; 
    height: 21px;
}
.portlet-title {
    float: left; /* comment out if portlet-controls display:none */
    display: inline;
}
.portlet-title h1 {
    margin: 0px;
    font-size: 1em;
    font-weight:bold;
    color:#000;
}
.portlet-controls {
    display: block; /* future development */
    padding-top: 2px;
    text-align: right;    
}
.portlet-controls img {
    border: 0px;
}
.portlet-controls a:link {
    color: #fff;
}
.portlet-controls a:hover {
    color: #000;
}
.portlet {
  border: 1px dotted #999; 
  border-top: 0px;
  padding: 6px 8px 6px 8px;
  clear:left;
  overflow: auto;
}
.portal-page {
  border: 1px solid #888;
  padding: 6px 8px 6px 8px;
  clear:left;
}

.subsite-name { 
  font-size: 110%; 
}


/* a.action appears to only be used in acs-core-docs and acs-authentication/www/doc/ext-auth-pam-install.html */
/* Deprecated, not sure what it's replaced with just yet */
a.action {
  margin: 8px;
  margin-left: 24px;
  display: list-item;
  list-style: circle url(/resources/acs-subsite/right.gif);
}


/* Following is (c)2013 John Polacek, Dual MIT & GPL license dfcb.github.com/extra-strength-responsive-grids/ */
.qf_table,.grid-1,.grid-10,.grid-11,.grid-12,.grid-2,.grid-3,.grid-4,.grid-5,.grid-6,.grid-7,.grid-8,.grid-9,.grid-all,.grid-half,.grid-quarter,.grid-third,.grid-three-quarters,.grid-two-thirds,.grid-whole,.inner-wrapper,.main-content{margin:0;clear:none;float:left;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}.offset-0{margin-left:0}.grid-1{width:8.33333%}.offset-1{margin-left:8.33333%}.grid-2{width:16.66667%}.offset-2{margin-left:16.66667%}.grid-3,.grid-quarter{width:25%}.offset-3{margin-left:25%}.grid-4,.grid-third,.portlet-sidebar{width:33.33333%}.offset-4{margin-left:33.33333%}.grid-5{width:41.66667%}.offset-5{margin-left:41.66667%}.grid-6,.grid-half{width:50%}.offset-6{margin-left:50%}.grid-7{width:58.33333%}.offset-7{margin-left:58.33333%}.grid-8,.grid-two-thirds{width:66.66667%}.offset-8{margin-left:66.66667%}.grid-9,.grid-three-quarters{width:75%}.offset-9{margin-left:75%}.grid-10{width:83.33333%}.offset-10{margin-left:83.33333%}.grid-11{width:91.66667%}.offset-11{margin-left:91.66667%}.grid-12,.grid-whole{width:100%}.offset-12{margin-left:100%}.padded,.main,.main-content-padding,.portlet-wrapper{padding:.5em}.padded-left{padding-left:.5em}.padded-right{padding-right:.5em}.padded-top,.list-button-bar-bottom,.list-paginator-bottom{padding-top:.5em}.padded-bottom,.list-paginator-top{padding-bottom:.5em}.padded-sides,td.list-table-narrow,th.list-table-narrow{padding:0 .5em}.padded-vertical,.list-button-bar-top{padding:.5em 0}.padded-inner{padding:1em}.padded-inner-sides{padding:0 1em}.padded-reverse{margin:0 -.5em;width:auto;box-sizing:content-box;float:none}.padded-reverse-all{margin:-.5em;width:auto;box-sizing:content-box;float:none}.flow-opposite{float:right}.center{text-align:center}.left{text-align:left}.right{text-align:right}.row{margin:0 -.5em;width:auto;box-sizing:content-box;float:none}@media (max-width:480px){.s-grid-1,.s-grid-10,.s-grid-11,.s-grid-12,.s-grid-2,.s-grid-3,.s-grid-4,.s-grid-5,.s-grid-6,.s-grid-7,.s-grid-8,.s-grid-9,.s-grid-all,.s-grid-half,.s-grid-quarter,.s-grid-third,.s-grid-three-quarters,.s-grid-two-thirds,.s-grid-whole{margin:0;clear:none;float:left;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}.s-offset-0{margin-left:0}.s-grid-1{width:8.33333%}.s-offset-1{margin-left:8.33333%}.s-grid-2{width:16.66667%}.s-offset-2{margin-left:16.66667%}.s-grid-3,.s-grid-quarter{width:25%}.s-offset-3{margin-left:25%}.s-grid-4,.s-grid-third{width:33.33333%}.s-offset-4{margin-left:33.33333%}.s-grid-5{width:41.66667%}.s-offset-5{margin-left:41.66667%}.s-grid-6,.s-grid-half{width:50%}.s-offset-6{margin-left:50%}.s-grid-7{width:58.33333%}.s-offset-7{margin-left:58.33333%}.s-grid-8,.s-grid-two-thirds{width:66.66667%}.s-offset-8{margin-left:66.66667%}.s-grid-9,.s-grid-three-quarters{width:75%}.s-offset-9{margin-left:75%}.s-grid-10{width:83.33333%}.s-offset-10{margin-left:83.33333%}.s-grid-11{width:91.66667%}.s-offset-11{margin-left:91.66667%}.s-grid-12,.s-grid-whole{width:100%}.s-offset-12{margin-left:100%}.s-padded{padding:.5em}.s-padded-left{padding-left:.5em}.s-padded-right{padding-right:.5em}.s-padded-top{padding-top:.5em}.s-padded-bottom{padding-bottom:.5em}.s-padded-sides{padding:0 .5em}.s-padded-vertical{padding:.5em 0}.s-padded-inner{padding:1em}.s-padded-inner-sides{padding:0 1em}.s-padded-reverse{margin:0 -.5em;width:auto;box-sizing:content-box;float:none}.s-padded-reverse-all{margin:-.5em;width:auto;box-sizing:content-box;float:none}.s-flow-opposite{float:right}.s-center{text-align:center}.s-left{text-align:left}.s-right{text-align:right}.s-hidden{display:none}}@media (min-width:481px) and (max-width:800px){.m-grid-1,.m-grid-10,.m-grid-11,.m-grid-12,.m-grid-2,.m-grid-3,.m-grid-4,.m-grid-5,.m-grid-6,.m-grid-7,.m-grid-8,.m-grid-9,.m-grid-all,.m-grid-half,.m-grid-quarter,.m-grid-third,.m-grid-three-quarters,.m-grid-two-thirds,.m-grid-whole{margin:0;clear:none;float:left;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}.m-offset-0{margin-left:0}.m-grid-1{width:8.33333%}.m-offset-1{margin-left:8.33333%}.m-grid-2{width:16.66667%}.m-offset-2{margin-left:16.66667%}.m-grid-3,.m-grid-quarter{width:25%}.m-offset-3{margin-left:25%}.m-grid-4,.m-grid-third{width:33.33333%}.m-offset-4{margin-left:33.33333%}.m-grid-5{width:41.66667%}.m-offset-5{margin-left:41.66667%}.m-grid-6,.m-grid-half{width:50%}.m-offset-6{margin-left:50%}.m-grid-7{width:58.33333%}.m-offset-7{margin-left:58.33333%}.m-grid-8,.m-grid-two-thirds{width:66.66667%}.m-offset-8{margin-left:66.66667%}.m-grid-9,.m-grid-three-quarters{width:75%}.m-offset-9{margin-left:75%}.m-grid-10{width:83.33333%}.m-offset-10{margin-left:83.33333%}.m-grid-11{width:91.66667%}.m-offset-11{margin-left:91.66667%}.m-grid-12,.m-grid-whole{width:100%}.m-offset-12{margin-left:100%}.m-padded{padding:.5em}.m-padded-left{padding-left:.5em}.m-padded-right{padding-right:.5em}.m-padded-top{padding-top:.5em}.m-padded-bottom{padding-bottom:.5em}.m-padded-sides{padding:0 .5em}.m-padded-vertical{padding:.5em 0}.m-padded-inner{padding:1em}.m-padded-inner-sides{padding:0 1em}.m-padded-reverse{margin:0 -.5em;width:auto;box-sizing:content-box;float:none}.m-padded-reverse-all{margin:-.5em;width:auto;box-sizing:content-box;float:none}.m-flow-opposite{float:right}.m-center{text-align:center}.m-left{text-align:left}.m-right{text-align:right}.m-hidden{display:none}}@media (min-width:801px){.l-grid-1,.l-grid-10,.l-grid-11,.l-grid-12,.l-grid-2,.l-grid-3,.l-grid-4,.l-grid-5,.l-grid-6,.l-grid-7,.l-grid-8,.l-grid-9,.l-grid-all,.l-grid-half,.l-grid-quarter,.l-grid-third,.l-grid-three-quarters,.l-grid-two-thirds,.l-grid-whole{margin:0;clear:none;float:left;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}.l-offset-0{margin-left:0}.l-grid-1{width:8.33333%}.l-offset-1{margin-left:8.33333%}.l-grid-2{width:16.66667%}.l-offset-2{margin-left:16.66667%}.l-grid-3,.l-grid-quarter{width:25%}.l-offset-3{margin-left:25%}.l-grid-4,.l-grid-third{width:33.33333%}.l-offset-4{margin-left:33.33333%}.l-grid-5{width:41.66667%}.l-offset-5{margin-left:41.66667%}.l-grid-6,.l-grid-half{width:50%}.l-offset-6{margin-left:50%}.l-grid-7{width:58.33333%}.l-offset-7{margin-left:58.33333%}.l-grid-8,.l-grid-two-thirds{width:66.66667%}.l-offset-8{margin-left:66.66667%}.l-grid-9,.l-grid-three-quarters{width:75%}.l-offset-9{margin-left:75%}.l-grid-10{width:83.33333%}.l-offset-10{margin-left:83.33333%}.l-grid-11{width:91.66667%}.l-offset-11{margin-left:91.66667%}.l-grid-12,.l-grid-whole{width:100%}.l-offset-12{margin-left:100%}.l-padded{padding:.5em}.l-padded-left{padding-left:.5em}.l-padded-right{padding-right:.5em}.l-padded-top{padding-top:.5em}.l-padded-bottom{padding-bottom:.5em}.l-padded-sides{padding:0 .5em}.l-padded-vertical{padding:.5em 0}.l-padded-inner{padding:1em}.l-padded-inner-sides{padding:0 1em}.l-padded-reverse{margin:0 -.5em;width:auto;box-sizing:content-box;float:none}.l-padded-reverse-all{margin:-.5em;width:auto;box-sizing:content-box;float:none}.l-flow-opposite{float:right}.l-center{text-align:center}.l-left{text-align:left}.l-right{text-align:right}.l-hidden{display:none}}
/* extra strength responsive grids dfcb.github.io/extra-strength-responsive-grids */
/*
	Colors

	Blues	#d9e8ff		#c4d8f6		#4e7bc5
	Red 	#a82121
*/

/* Normalize + H5BP - minified */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary,.header,.footer,.system-name,.header-navigation,.breadcrumbs{display:block;}audio,canvas,video{display:inline;zoom:1;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}html,button,input,select,textarea,input.button{display:block;font-family:sans-serif;color:#222;}body{font-size:1em;line-height:1.4;margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:.67em 0;}h2{font-size:1.5em;margin:.83em 0;}h3{font-size:1.17em;margin:1em 0;}h4{font-size:1em;margin:1.33em 0;}h5{font-size:.83em;margin:1.67em 0;}h6{font-size:.67em;margin:2.33em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}blockquote{margin:1em 40px;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;_font-family:'courier new', monospace;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:none;}q:before,q:after{content:none;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}dd{margin:0 0 0 40px;}menu,ol,ul{padding:0 0 0 40px;}nav ul,nav ol{list-style:none;list-style-image:none;}img{border:0;-ms-interpolation-mode:bicubic;vertical-align:middle;}svg:not(:root){overflow:hidden;}fieldset{border:0;margin:0;padding:0;}legend{border:0;white-space:normal;margin-left:-7px;padding:0;}button,input,select,textarea{display:block;font-size:100%;vertical-align:middle;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;overflow:visible;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;height:13px;width:13px;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{display:block;overflow:auto;vertical-align:top;resize:vertical;}table,.list-table{border-collapse:collapse;border-spacing:0;}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}.chromeframe{background:#ccc;color:#000;margin:.2em 0;padding:.2em 0;}.ir{background-color:transparent;border:0;overflow:hidden;text-indent:-9999px;}.ir:before{content:"";display:block;width:0;height:150%;}.hidden{display:none!important;visibility:hidden;}.visuallyhidden{border:0;clip:rect(0,0,0,0);height:1px;overflow:hidden;position:absolute;width:1px;margin:-1px;padding:0;}.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;overflow:visible;position:static;width:auto;margin:0;}.invisible{visibility:hidden;}.clearfix:before,.clearfix:after{content:" ";display:table;}.clearfix:after{clear:both;}.clearfix,.zoom1{zoom:1;}p,pre,dl,menu,ol,ul{margin:1em 0;}figure,form{margin:0;}::-moz-selection,::selection{background:#b3d4fc;text-shadow:none;}@media print{*{background:transparent!important;color:#000!important;box-shadow:none!important;text-shadow:none!important;}a,a:visited{text-decoration:underline;}a[href]:after{content:" (" attr(href) ")";}abbr[title]:after{content:" (" attr(title) ")";}.ir a:after,a:after{content:"";}pre,blockquote{border:1px solid #999;page-break-inside:avoid;}thead{display:table-header-group;}tr,img{page-break-inside:avoid;}img{max-width:100%}}


body { font-family: tahoma,verdana,helvetica,sans-serif; }
h1,h2,h3,h4,h5,h6 { line-height: 1.2; margin: 0; }
h1 {
	letter-spacing: 1px;
}
h1,h2,h3,h4,h5,h6 { font-weight: 700; }
ul { margin: .5em 0; padding: 0 0 0 1.5em; }
li { padding-right: 1em; }
small { font-weight: normal; font-size: .75em; }
sup { font-weight: normal; }

a {
    color: #4e7bc5;
}
a:visited {
    color: #c57b4e;
}
a:hover {
    color: #4ec57b;
}
.page-wrap,content-wrapper { max-width: 960px; margin: 0 auto; }
.header-example h1, 
.header-example h2, 
.header-example h3, 
.header-example h4, 
.header-example p {
	margin-bottom: 0;
}

.grid-demo {
	width: 98%;
	height: 4.8em;
	margin: .5em .5em 0;
}
.grid-demo .grid-1 { height: 4.8em; background: #d9e8ff; }
.grid-demo .grid-1 .content-box {
	height: 3.6em;
	background: rgba(255,255,255,.4);
	border-left: dashed 1px #c4d8f6;
	border-right: dashed 1px #c4d8f6;
}

.header-top h1 { margin: .4em 0 0; font-size: 2.2em; }
.header-top h2 {
	margin: 0;
	color: #a82121;
	text-transform: uppercase;
	font-style: italic;
	font-weight: normal;
	font-size: 1.1em;
}
.header-top p { margin: -.25em 0; opacity: .8; }
.footer-links { clear: both; } 
.hero-img-contain { position: relative; height: 4em; }
.hero-img {
	position: absolute;
	top: -3em; left: 14%;
	width: 88%;
	min-width: 10em;
}
.content-download { margin-bottom: 2em; }
.content-download p { margin: .25em; }
.content-box {background: #d9e8ff;border-radius: .25em; }
.content-box-header {background: #4e7bc5;color: #fff; }
.content-box-secondary {background: #4e7bc5;color:#fff; }
.content-box-inner { background: #c4d8f6; margin-bottom: .5em; }
.content-box-transparent,.list-paginator,.list-paginator li,.list-paginator li.current {
	background: rgba(78,123,197,.2);	
}
.content-box p { margin: 0 0 1em; }

.padding-demo { border: dashed 1px #c4d8f6; color: #4e7bc5; }
.padding-demo-last { border-left: none; }
.padding-demo p {
	margin: 0 0 .5em;
	opacity: .8;
	border-left: dashed 1px #4e7bc5;
}
.padding-demo .content-box p {  border: dashed 1px #4e7bc5; }

.btn-big,.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d9e8ff), color-stop(1, #c4d8f6) );
	background:-moz-linear-gradient( center top, #d9e8ff 5%, #c4d8f6 100% );
	background-color:#d9e8ff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #c4d8f6;
	display:inline-block;
	color:#4e7cc5;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0 1px 0 #ffffff;
}
.btn-big:hover,.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c4d8f6), color-stop(1, #d9e8ff) );
	background:-moz-linear-gradient( center top, #c4d8f6 5%, #d9e8ff 100% );
	background-color:#c4d8f6;
}
.btn-big:active,.button:active{
	position:relative;
	top:1px;
}
.content-box-cta, .alert-message,.boxed-user-message {background: #ccff99; color: #000000; }
.content-box-cta a {color: #666666; }
.content-box-cta p,.alert-message .alert { margin: 0 0 1em; }
.boxed-user-message p { font-size: 85%; }

.warning { font-style: italic; }

.citations { border-top: dashed 1px #4e7bc5; }
.citations p { margin: 0 0 .5em; line-height: 1;}
.bold,span.list-filter-selected {  
        font-weight: bold; 
} 
.center { text-align: center; }
.strong-very { color: #a82121; }
.small,div.list-inline-filter {  
  font-size: x-small;  
} 

#resize { position:fixed; bottom:0;right:0;}

@media (max-width: 800px) {
	.header-top h1, .header-top h2, .header-top p { padding-left: 16px;}
}

@media (max-width: 480px) {
	.header-top h1 { font-size: 1.6em;}
	.header-top h2 { font-size: .8em;}
	.btn-big { font-size: 1.2em; }
}
